@import 'tailwindcss';

:root {
  --primary-color: #f97316;
  --primary-hover: #ea580c;
}

body {
  margin: 0;
  padding: 0;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    sans-serif;
  background-color: var(--background, #121214);
  color: var(--foreground, #e1e1e6);
}
